body {
    margin: 0;
    padding: 0;
    background-color: rgb(97, 133, 133);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
.login{
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background-color: aliceblue;
}
.login label{
    font-size: large;
    font-weight: bold;
}